.spinner {
  border: 2px solid var(--color-gray-300);
  border-top: 2px solid var(--color-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
}

.small {
  width: 16px;
  height: 16px;
  border-width: 1.5px;
}

.medium {
  width: 24px;
  height: 24px;
  border-width: 2px;
}

.large {
  width: 32px;
  height: 32px;
  border-width: 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
